.HomePage {
    .app-name {
        font-size: 3rem;
        margin: 10px auto;
    }

    .team-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
}