.MatchDetailCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-bottom: 10px;

    @media screen and (max-width: 750px) {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .game-date {
        margin-top: 10px;
    }

    .game-location {
        margin-top: 10px;
    }

    .game-result {
        margin-top: 10px;
    }

    .game-stats {
        text-align: right;
        & > p {
            margin-bottom: 10px;
        }
        @media screen and (max-width: 750px) {
            text-align: center;
        }
    }
}